<%- include('header')%>
        <h4 class="alert alert-success text-center">Add New Password </h4>
        <% if(success !=''){%>
          <p class="badge badge-success offset-md-4"><%=success %></p> 
        <%}%>
        <form action="/add-new-password" method="POST">

          <div class="col-md-4 mt-4">
            <label></label>
            <a href="/view-all-password" class="badge badge-warning">View All Password List</a>
        </div>
            <div class="row">
                <div class="col-md-4 offset-md-4">
                    <label class="badge badge-pill badge-primary">Password Category</label>
                    <select class="form-control " name="pass_cat">
                        <option value=""> Choose Password Category</option>
                        <% if(records.length > 0) {
                          records.forEach(function(row){
                          %>
                        <option value=" <%= row.password_category %>"> <%= row.password_category %></option>
                            <% }) }%>

                    </select>
                </div>
              
              </div>


              <div class="row">
                <div class="col-md-4 offset-md-4">
                    <label class="badge badge-pill badge-primary">project Name</label>
                  <input type="textbox"
                           class="form-control"
                           name="project_name" 
                           placeholder="Project Name">
                          </input>
                </div>
              </div>



            <div class="row">
              <div class="col-md-4 offset-md-4">
                  <label class="badge badge-pill badge-primary">Password Details</label>
                <textarea type="text"
                         class="form-control"
                         name="pass_details" 
                         rows="5" 
                         id="editor1"
                         placeholder="Password details">
                        </textarea>
              </div>
            
            </div>

           

            <div class="col-md-4 offset-md-4 mt-4">
                <label></label>
                <button type="submit" class="btn btn-outline-primary">Add Password</button>
            </div>
            
          </form>
          <script>
            CKEDITOR.replace( 'editor1' );
    </script>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>